.cs-partner_logo_wrap {
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 0;

  .slick-slide > div {
    display: flex !important;
    justify-content: center;
  }
}

.cs-partner_logo {
  padding: 55px;  /* increased padding for more margin between logos */
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 50px;   /* increased max width */
    max-height: 20px;   /* increased max height */
    object-fit: contain;
    filter: grayscale(0.8);
    transition: filter 0.3s ease;
    margin: 20px;

    &:hover {
      filter: none;
    }
  }
}
